ul{
	list-style-type: none;
}

img {
	height:300px;
	width:450px;
	margin:50px;
}

body{
	background-color:#D1E0E0;
	color:;
	font-family:Georgia, serif;
}

#map{
	width:500px;
	height:500px;
	padding:10px;
	border:5px solid black;
	margin:50px;
}
