
/*media query and screen size variables*/

$small: 800px;

$medium: 1350px;

$large: 2050px;

/*color and styling variables*/

$default_color: #FFFFFF;

body{
	background-image: url("images/blackLinen2X.png");


//  	width: 100%;
// 		height: 100%;
  	font-family:'Open Sans', sans-serif, 'Josefin Slab', serif;
//	background-color:#000000}




#logo{
	width:150px;
  	height:150px;
  	opacity:.7;

  	@media screen and (max-width:$small) {
	width:30px;
	height:30px;
	opacity:.7;
	margin:20px 20px 20px 20px}

	@media screen and (max-width:$medium) {
	  width:100px;
	  height:100px;
	  opacity:.7;
	}

	@media screen and (max-width:$large) {
	  width:150px;
	  height:150px;
	  opacity:.7;
	}
}


.nav_menu{
	list-style-type:none;
	display:inline; 
	color:$default_color;
	margin-top:20px;
	margin-left:30px;
	margin-right:50px;
	margin-bottom:30px;
	clear:both;
	float:left;
	position:fixed;
	padding:20px 20px 20px 20px;
	text-align:left;
	line-height:1.3em;
  	overflow:auto;
}



.nav_menu li{
	padding:10px;
	font-size:2em;
  	line-height:1.6em;

  	@media screen and (max-width: $small) {
	  font-size:.8em;
	  color:red; /*CHANGE THIS LATER, FONT COLOR ADDED TO MEDIA QUERY TO TEST IF IT IS WORKING*/
	}

  	@media screen and (max-width:$medium){
	  font-size:1em
	}

  	@media screen and (max-width:$large) {
	  font-size:1.1em
	}

  @mixin grow_and_rotate {
	-webkit-transform:scale(1.5) rotate(-10deg);
	-moz-transform:scale(1.5) rotate(-10deg);
	-o-transform:scale(1.5) rotate(-10deg);
	transform:scale(1.5) rotate(-10deg);}


  .social_media {
	li {
	  list-style-type:none;
	  width: 30px;
	  height: 30px;
	  display: inline;
	  float: left;
	  position:fixed;
	  overflow: auto;
	  //		margin-top:500px;
	  //  	margin-left:30px;
	  //		margin-right:40px;
	  padding: 5px 5px 5px 5px;


	}
	li.hover{
	  @include grow_and_rotate;
	  //	-webkit-transition: all .5s;
	  //	-moz-transition: all .5s ease;
	  //	-o-transition: all .5s ease;
	  //	transition: all .5s ease;
	}
	img {
	  width:25px;
	  height:25px;
	}
  }
	}
.BlogMainText{
	width:70%;
	height:50%;
	margin-top:50px;
	margin-left:30%;
	margin-right:50px;
	margin-bottom:20px; 
	clear:both;
	position:relative;
  	float:right;
	background-color:#b6a399;
	box-shadow:none;
	overflow:auto;}

	@media screen and (max-width:$small) {
	  width:80%;
	  height: 50%;
	  color:red;
	}




.BlogArticleImage{
  width:60%;
  height:40%;
  clear:both;
  float:right;
  position:relative;
  overflow:auto;
  margin:0px 0px 0px 0px;
  padding:5px 5px 5px 5px;}


@mixin box-shadow-styling {box-shadow:
		1px 1px 1px #1c0a06,
		2px 2px 2px #1c0a06,
		3px 3px 3px #1c0a06;

	-webkit-transform: translateX(-3px) .6s ease;
	-moz-transform: translateX(-3px) .6s ease;
	-o-transform: translateX(-3px) .6s ease;
	transform:translateX(-3px) .6s ease;}

.BlogMainText:hover{
@include box-shadow-styling;
}

/*@mixin grow_and_rotate {
	-webkit-transform:scale(1.5) rotate(-10deg);
	-moz-transform:scale(1.5) rotate(-10deg);
	-o-transform:scale(1.5) rotate(-10deg);
	transform:scale(1.5) rotate(-10deg);}


.social_media {
  li {
	width: 30px;
	height: 30px;
	list-style-type: none;
	display: inline;
	float: left;
	//		position:absolute;
	overflow: auto;
	//		margin-top:500px;
	//  	margin-left:30px;
	//		margin-right:40px;
	padding: 5px 5px 5px 5px;


  		}
  li.hover{
	@include grow_and_rotate;
//	-webkit-transition: all .5s;
//	-moz-transition: all .5s ease;
//	-o-transition: all .5s ease;
//	transition: all .5s ease;
  }*/


  img {
	width:25px;
	height:25px;
  }
	}

article{

	float:left;
	background-color:#b6a399; 
	opacity:.8;
	font-size:.9em;
  	color:#000000;
	text-align:left;
	line-height:1.5em;
	width:80%;
	height:80%;
	margin-left:40px;
  	padding: 10px 10px 10px 10px;
//	padding-left:30px;
//	padding-right: 30px;
//	padding-top:5px;
//	padding-bottom: 5px;
	
}

p{
  margin-top:10px;
  padding-top:25px;
//  text-align:left;

}

h1{
	color:$default_color;
  	font-family: 'Josefin Slab', serif;
	font-size:3.5em;
  	line-height:.5em;
	margin-left:25%;
  	margin-bottom:0px;
	padding:5px}



h2{
  	font-weight:bold;
	font-size:1.6em;
	line-height:2em;
  	width:100%;
  	height:100%;
	text-align:left;
	color:#70110d;
	padding: 5px 5px 5px 5px;
  	margin:5px 5px 5px 5px;
  	float:left;
	-webkit-transition:color .6s ease;
	-moz-transition:color .6s ease;
	-o-transition:color .6s ease;
	-transition:color .6s ease;
  	list-style-type:none;

//	@media screen and (max-width:$small){
//	  font-size:1.5em;
//	  line-height:1.5em;
//	}
//
//  	@media screen and (max-width:$medium){
//	  font-size:1em;
//	  line-height:1.2em;
	}

	
h3{
  text-align:right;
  clear:both;
  float:right;
  position:relative;
  color:$default_color;
  margin:15px 15px 15px 15px;
  padding:20px 20px 20px 20px;
  font-size:.9em;

  @media screen and (max-width:$small){
	font-size:.6em;

  }

  @media screen and (max-width:$medium){
	font-size:.8em;

  }


}


a:link {
	color:$default_color;
  	text-decoration:none;
	-webkit-transition:all .6s ease;
	-moz-transition:all .6s ease;
	-o-transition:all .6s ease;
	transition:all .6s ease;

	}

a:visited{
	color:#FFFFFF;
	text-decoration:none;
}

a:hover{

	-webkit-transition: color .6s ease;
  	-moz-transition: color .6s ease;
	-o-transition: color .6s ease;
	transition: color .6s ease;
  	color:#D17634;
}

a:active{
	color:#D17634;
}



.selected_link{ text-decoration:none;
	color: #000000;
	
}

/*#Blog_Archive_Link{
  font-size:.8em;
  color:$default_color;
  text-align:left;
  clear:both;
  margin:50px 50px 100px 50px;
}
*/

/*Styling for form fields, Assignment 05*/


textarea:hover, input:hover {
  border: 1px solid #000000;
}

textarea:focus, input:focus {
  background-color:#FCE1A2;
  border: 1px solid #000000;

}

input:invalid +label::after{border: 1px solid red}

#create_account_header{
  font-family:'Josefin Slab';
  font-size:4em;
  color:$default_color;
}
/*.left_column{
  float:left;
  text-align:left;
  margin:10px 10px 10px 10px;
  padding:20px 20px 20px 20px;
}

.right_column{
  float:right;
  text-align:left;
  margin:10px 10px 10px 10px;
  padding:20px 20px 20px 20px;

}
*/



